<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Library</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <div class="col-12 d-flex justify-content-center">
        <form
          class="col-6 border p-3 mt-5 shadow"
          action="/updateBook"
          method="post"
          enctype="multipart/form-data"
        >
          <h3 class="text-center">Book Details</h3>
          <div class="form-text text-center">update a book to library.</div>
          <hr />
          <div class="mb-3">
            <label class="form-label">Id</label>
            <input
              value="<%= single.id %>"
              class="form-control"
              name="editid"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="The Alchemist"
              name="name"
              value="<%= single.name %>"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Price</label>
            <input
              type="text"
              value="<%= single.price %>"
              class="form-control"
              placeholder="$25"
              name="price"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Pages</label>
            <input
              type="number"
              class="form-control"
              placeholder="200"
              name="pages"
              value="<%= single.pages %>"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Image</label>
            <span class="form-text"
              >Chose a new file if you want to update image</span
            >
            <input
              type="file"
              class="form-control"
              name="image"
              value="<%= single.image %>"
            />
            <img src="<%=  single.image %>" width="100" alt="" />
          </div>
          <div class="mb-3">
            <label class="form-label">Author</label>
            <input
              type="text"
              name="author"
              class="form-control"
              placeholder="Paulo Ceolho"
              value="<%= single.author %>"
            />
          </div>

          <button class="btn btn-primary" style="text-decoration: none">
            Edit
          </button>

          <a href="/" class="btn btn-primary">View book Library</a>
        </form>
      </div>
    </div>
  </body>
</html>
